*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family:  'Poppins' , sans-serif;
}
.nav_header{

}
.heroarea{
    background-image: url(./images/hero-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.header_section{
    
    display: flex;
    align-items: center;
    /* background-color: black; */
    padding-inline: 1.5rem;
    padding-block: 1rem;
}
.nav_logo>a{
    text-decoration: none;
    margin-right:16px;
    padding-top:5px;
    padding-bottom: 5px;
}
.nav_logo>a>span{
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
}
.toggle_menu>button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1.7em;
    color: #fff;
    padding: 4px 12px;
}
.list_items{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    flex-grow: 1;
}
.list_items_container{
  /* background-color: blue;  */
  margin-left: auto; 
}
.list_items_container>ul{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
     
}
.list_items_container>ul>li{
    font-size: 1rem;
    margin: 10px 30px; 
    padding-bottom: 3px; 
}
.search_icon>button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    margin-left: 24px;
}

